body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



form label {
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 10px;
}

form .block {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

form select,
form input[type=password],
form input[type=text] {
    width: 400px;
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 1.1em;
}

form input[type=checkbox] {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 5px;
    background-color: #fafafa;
}

form input[type=submit] {
    display: block;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    padding: 10px 20px;
    height: 40px;
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
    color: #000000;
    background-color: #f4f4f4;
    background-image: linear-gradient(top, #f4f4f4, #e5e5e5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}

form select#unit {
    width: 120px;
}

form input[type=submit]:hover {
    cursor: pointer;
    border: 1px solid #c1c1c1;
    background-color: #dbdbdb;
    background-image: linear-gradient(top, #dbdbdb, #cccccc);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

.flash {
    background-color: #FBB0B0;
    padding: 10px;
    width: 400px;
}
