<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <meta name="viewport" content="width=device-width" />
</head>

<body>
  <form method="POST" action="{{ url_for('setup') }}" name="configForm">
    <div class="block">{{ form.data_source.label}}</div>
    <div>{{ form.data_source}}</div>
    <div class="toggle dexcom">
      <div class="block">{{ form.dexcom_user.label }}</div>
      <div>{{ form.dexcom_user(size=40) }}</div>
      <div class="block">{{ form.dexcom_pass.label }}</div>
      <div>{{ form.dexcom_pass(size=40) }}</div>
    </div>
    <div class="toggle nightscout">
      <div class="block">{{ form.ns_url.label }}</div>
      <div>{{ form.ns_url(size=200) }}</div>
      <div class="block">{{ form.ns_token.label }}</div>
      <div>{{ form.ns_token(size=40) }}</div>
    </div>
    <div class="block">
      {{ form.time24hour.label}} {{ form.time24hour}}
    </div>
    <div class="block" style="display: none;">
      {{ form.unit.label}} {{ form.unit}}
    </div>

    <br />
    <input type="submit" value="Save">

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

  </form>
  <script>
    function setVisibility() {
      source = document.configForm.data_source.value;
      Array.from(document.getElementsByClassName("toggle")).forEach(
        function (element, index, array) {
          element.style.display = (element.classList.contains(source)) ? 'block' : 'none';
        })
    }

    document.addEventListener('DOMContentLoaded', setVisibility, false);
    document.configForm.data_source.onchange = setVisibility
  </script>
</body>

</html>